.container {
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.light {
    background-color: aqua;
}

.dark {
    background-color: purple;
}